<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.love.jax">

    <application
        android:name=".JaxApplication"
        android:allowBackup="true"
        android:icon="@mipmap/jax_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/jax_logo"
        android:supportsRtl="true"
        android:theme="@style/MyAppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ScreenAdaptationActivity" />
        <activity android:name=".activity.BaseActivity" />
        <activity android:name=".activity.tkjobs.OrderActivity" />
        <activity android:name=".activity.recycleview.ThemeActivity" />
        <activity android:name=".activity.recycleview.RcSimpleActivity" />
        <activity android:name=".activity.recycleview.RcDividerActivity" />
        <activity android:name=".activity.recycleview.HeaderActivity" />
        <activity
            android:name=".activity.recycleview.RcTouchActivity"
            android:theme="@style/NoAcBarTheme" />
        <activity android:name=".activity.materialdesign.DrawerLayoutActivity" />
        <activity android:name=".activity.materialdesign.NavigationActivity" />
        <activity android:name=".activity.materialdesign.SnackbarActivity" />
        <activity android:name=".activity.materialdesign.TextInputActivity" />
        <activity
            android:name=".activity.materialdesign.ToolbarActivity"
            android:theme="@style/LightNoAcBarTheme" />
        <activity
            android:name=".activity.materialdesign.TransparentToolbarActivity"
            android:theme="@style/LightNoAcBarTheme" />
        <activity android:name=".activity.materialdesign.PaletteActivity" />
        <activity android:name=".activity.tkjobs.InvoiceInfoActivity" />
        <activity android:name=".activity.tkjobs.SelectCouponsActivity" />
        <activity android:name=".activity.fragment.TabLayoutTopActivity" />
        <activity android:name=".activity.fragment.TabLayoutBottomActivity" />
        <activity
            android:name=".activity.materialdesign.TranslucentTopActivity"
            android:theme="@style/NoAcBarTheme" />
        <activity android:name=".activity.materialdesign.TranslucentActivity" />
        <activity android:name=".activity.materialdesign.CardViewActivity" />
        <activity android:name=".activity.materialdesign.FloatingActionButtonActivity" />
        <activity
            android:name=".activity.materialdesign.FabRecAnimatorActivity"
            android:theme="@style/LightNoAcBarTheme" />
        <activity
            android:name=".activity.materialdesign.FabRecAnimatorActivity2"
            android:theme="@style/LightNoAcBarTheme" />
        <activity
            android:name=".activity.materialdesign.ParallelSpaceActivity"
            android:theme="@style/LightNoAcBarTheme" />
        <activity
            android:name=".activity.materialdesign.TabLayoutAppBarActivity"
            android:theme="@style/LightNoAcBarTheme" />
        <activity
            android:name=".activity.materialdesign.CollapseToolbarActivity"
            android:theme="@style/LightNoAcBarTheme" />
        <activity
            android:name=".activity.materialdesign.CustomerBehavior1Activity"
            android:theme="@style/LightNoAcBarTheme" />
        <activity
            android:name=".activity.materialdesign.CustomerBehavior2Activity"
            android:theme="@style/LightNoAcBarTheme" />
        <activity android:name=".activity.animation.ArrtAnimatorActivity" />
        <activity android:name=".activity.animation.AnimatorSetActivity" />
        <activity
            android:name=".activity.animation.RevealEffectActivity"
            android:theme="@style/LightNoAcBarTheme" />
        <activity
            android:name=".activity.animation.OptionsTransitionActivity"
            android:theme="@style/LightNoAcBarTheme" />
        <activity
            android:name=".activity.animation.OptionsTransition2Activity"
            android:theme="@style/LightNoAcBarTheme" />
        <activity android:name=".activity.animation.SvgVectorActivity" />
        <activity android:name=".activity.animation.AnimaFramework1Activity" />
        <activity
            android:name=".activity.animation.ParallaxSplashActivity"
            android:theme="@style/LightNoAcBarTheme" />
        <activity android:name=".activity.events.TouchEventSLActivity" />
        <activity android:name=".activity.events.ViewPagerActivity"></activity>
    </application>

</manifest>